.chatbot_design{
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 450px;
    font-family: Arial;
    z-index: 9999;
}

.chat_header{
    background-color: #40b2cf;
    padding: 10px;
    /* border-radius: 20px; */
    cursor: pointer;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
}

.chat_body{
    background: #a6d0e5;
    border: 1px solid #ccc;
    max-height: 0;
    display: flex;
    flex-direction: column;
    height: 500px;
    overflow: hidden;
    transition: max-height 0.5s
}

.message_bubble{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    font-size: 16px;
    height: 400px;
    background-color: #ffffff;
    line-height: 1.5;
}

.message_bubble::-webkit-scrollbar {
    width: 6px;
}

.message_bubble::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 3px;
}

.input_box{
    display: flex;
    border-top: 1px solid #ccc;
}

.input_box input{
    flex: 1;
    padding: 10px;
    border: none;
}

.input_box button{
    padding: 5px 15px;
    background-color: #40b2cf;
    border: none;
    cursor: pointer;
}

.msg{
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 10px;
    padding: 12px 18px;
    border-radius: 10px;
    max-width: 90%;
    word-wrap: break-word;
}

.user{
    text-align: right;  /* User's message will be displayed on the right */
    align-self: flex-end;
    background-color: #dfffd9;
    color: #000000;
}

.bot{
    text-align: left;    /* Bot response will be displayed on the left */
    align-self: flex-start;
    background-color: #e3f7fb;
    color: #333333;
}